body {
    font-family:'Segoe UI' Geneva;
    background-color: rgb(0, 255, 255);
    color: rgb(0, 171, 77);
    text-align:center;
    cursor : url("icons8-computer-mouse-50.png"), auto;
    font-size: 16x;
    background-image: url("https://img.freepik.com/free-vector/background-abstract-pixel-rain_23-2148376182.jpg?semt=ais_hybrid&w=740&q=80");

h1 {
  color:rgb(0, 255, 85);
    text-decoration: underline;
    font-size: 3em;
}

p, ul, table {
    text-align: left;
    max-width: 700px;
    margin: 0 auto 1em auto;
    line-height: 1.5; 
}

.left {
    padding-left: 25%;
}

.right {
    padding-right: 75%;
}

table {
    color: white;
    background-color: #008d18;
    width: 60%;
    box-shadow: -5px 5px 10px rgb(58, 89, 0);
}

img {
    border: 2px solid #797079;
    border-radius: 8px;
    width: 300px;
}

a {
    color: rgb(0, 255, 149);
}

a:hover {
    color: rgb(17, 0, 255);
}

hr {
    color: rgb(0, 255, 149)
}