body {
    font-family:'Segoe UI' Geneva;
    background-color: rgb(0, 255, 255);
    color: rgb(0, 171, 77);
    cursor : url("mouse.png"), auto;
    font-size: 16x;
    background-image: url("https://images.ctfassets.net/nnkxuzam4k38/2SvDjcgyav5C1DOb79JKXl/d3b06db5bb6bdb4ab237f666b5b4980e/compute-ea4c57a4.png");
}
h1 {
  color:rgb(0, 255, 85);
    text-decoration: underline;
    font-size: 3em;
}

ul, table {
    text-align: left;
    max-width: 700px;
    margin: 0 auto 1em auto;
    line-height: 1.5;
}

.left {
    float: right;
}

.right {
    float: left;
}

table {
    color: white;
    background-color: #008d18;
    width: 60%;
    box-shadow: -5px 5px 10px rgb(58, 89, 0);
}

img {
    border: 2px solid #797079;
    border-radius: 8px;
    width: 300px;
}

a {
    color: rgb(0, 255, 149);
}

a:hover {
    color: rgb(17, 0, 255);
}

hr {
    color: rgb(0, 255, 149);
}